<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.carlos.dal.mapper.CategoryMapper">
    <resultMap id="resultMap" type="com.github.carlos.dal.bean.CategoryDO">

        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>

        <result column="gmt_created" property="gmtCreated"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <sql id="generalColumns">
        id,
        category_name,
        description,
        `type`,
        gmt_created,
        gmt_modified,
        is_del

    </sql>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id">
        insert into category (<include refid="generalColumns"/>)

        values (#{id},
        #{categoryName},
        #{description},
        {`type`},
        now(),
        now(),
        0)
        on duplicate key update
        <if test="description!=null">
            description=#{description},
        </if>
        <if test="categoryName!=null">
            category_name=#{categoryName},
        </if>
        <if test="type!=null">
            `type`=#{type},
        </if>
        is_del =0,
        gmt_modified=now()
    </insert>

    <select id="selectByParam" resultMap="resultMap">
        select
        <include refid="generalColumns"/>
        from category
        where is_del=0
        and `type`=#{type}

    </select>


    <select id="selectAll" resultMap="resultMap">
        select
        <include refid="generalColumns"/>
        from category
        where is_del=0

    </select>


    <update id="del">
       update tb_role set is_del=0
        where
         id = #{id}
    </update>


</mapper>