<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.carlos.dal.mapper.ItemImageRelMapper">
    <resultMap id="resultMap" type="com.github.carlos.dal.bean.ItemImageRelDO">

        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="image_id" property="imageId"/>

        <result column="gmt_created" property="gmtCreated"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="is_del" property="isDel"/>
    </resultMap>

    <sql id="generalColumns">
        id,
        item_id,
        image_id,
        gmt_created,
        gmt_modified,
        is_del

    </sql>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id">
        insert into item_image_rel (<include refid="generalColumns"/>)

        values (#{id},
        #{item_id},
        #{image_id},
        now(),
        now(),
        0)
        on duplicate key update
        <trim suffixOverrides=",">
            item_id = VALUES(item_id),
            image_id = VALUES(image_id),
            is_del =0,
            gmt_modified=now()
        </trim>
    </insert>


    <insert id="batchInsertOrUpdate" parameterType="list">
        insert into item_info (<include refid="generalColumns"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.itemId},
            #{item.imageId},
            now(),
            now(),
            0)
        </foreach>
        ON DUPLICATE KEY UPDATE
        item_id=VALUES(item_id),
        image_id=VALUES(image_id),
        is_del =0,
        gmt_modified=now(),
    </insert>






    <select id="selectByItemIds" resultMap="resultMap">
        select
        <include refid="generalColumns"/>
        from item_info
        where is_del=0
        and item_id IN
        <foreach item="id" index="index" collection="itemIds" open="(" separator="," close=")">
            #{id}
        </foreach>



    </select>




    <update id="del">
       update item_info set is_del=0
        where
         id = #{id}

    </update>


</mapper>